<%- include('./header.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <h1>Something went wrong</h1>
        <h1>Please be patient until we fix</h1>
    </body>