extends layouts/main.pug 

block styles 
    link(rel="stylesheet", href="/css/shop.css")
    title #{doctitle}

block content
    main 
        if prods.length >0
            h1 My Products
            each product in prods 
                p #{product.title}    