<nav>
    <ul>
        <li>
            <a href="/all-users">Users</a>
        </li>
        <li>
            <a href="/add-cart">Products</a>
        </li>
        <li>
            <a href="/all-cart">Cart</a>
        </li>
        <li>
            <a href="/order">Order</a>
        </li>
        <li>
            <a href="/add-user">Add User</a>
        </li>
        <li>
            <a href="/add-product">Add Product</a>
        </li>
    </ul>
</nav>