<nav>
    <ul>
        <li>
            <a href="/all-users">Users</a>
        </li>
        <li>
            <a href="/all-Products">Products</a>
        </li>
        <li>
            <a href="/all-cart">Carts</a>
        </li>
        <li>
            <a href="/all-cartItem">Cart</a>
        </li>
        <li>
            <a href="/order">Order</a>
        </li>
        <li>
            <a href="/add-cartItem">Cart Item</a>
        </li>

        <li>
            <a href="/add-user">Add User</a>
        </li>
        <li>
            <a href="/add-product">Add Product</a>
        </li>
        <li>
            <a href="/admin">Admin</a>
        </li>
    </ul>
</nav>